#sve {
	margin-left: 35%;
}
#naslov {
	font-size: 19px;
	font-weight: bold;
	color: red;
}
button {
	background-color: #14b114;
	color: white;
}
.brisanje {
	color: red;
}
#opis {
	margin-left: 20%;
	margin-top: 15%;
	font-size: 14px;
}
mark {
	color: red;
}